
<h1>Book Details: {{title}} </h1>

    <form name="deleteBook" action="delete/{{books.title}}" method="post">
        <h2>Would you like to delete this book?</h2>
        <input type="submit" value="delete"/>
    </form>