<h1>Hello!!!</h1>
	<form name ="bookFind" method="POST" action="/search">
		<input id="title" type="text" name="title">
		<input id="searchButton" type="submit" value="search"/>
	</form>

<h2>List of books in our database!</h2>
{{#each books}}
{{@index}} : <a href="/search?title={{title}}">{{title}}</a>
<br>
{{/each}}