<h1>Books, Books, Books!</h1>
{{#each books}}
	<div class="bookAvailability">
		<h2>{{title}}</h2>
		<p>{{author}}</p>

		{{#if inStock}}
			<p>This book is available</p>
		{{else}}
			<p>This book is unavailable</p
		{{/if}}
	</div>
{{/each}}