<h1>Hello!!!</h1>
	<form method="POST" action="/search">
		<input type="text" name="title">
		<button>Search</button>
	</form>

{{#if books}}
<h2>List of books in our database!</h2>
{{/if}}

{{#each books}}
{{@index}} : <a href="/search?title={{title}}">{{title}}</a>
<br>
{{/each}}